<div class="hero-head">
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item is-size-3" href="#">
          <i class="fas fa-server"></i>
        </a>
        <span class="navbar-burger burger" data-target="navbarMenuHeroA">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="navbarMenuHeroA" class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item" onclick="something()">
            How it works?
          </a>
          <span class="navbar-item">
           <a class="button is-black" href="" target="_blank">
             <span class="icon">
                <i class="fab fa-github"></i>
            </span>
              <span>GitHub</span>
           </a>
         </span>
        </div>
      </div>
    </div>
  </nav>
</div>
