<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include head.html %}
  </head>
  <body>
    <section class="hero is-medium is-bold">
    {% include nav.html %}
    <div class="hero-body mt-5">
      <div class="container">
        <div class="columns is-centered">
          <div class="column">
              <div class="field has-addons has-addons-centered animate__animated animate__fadeInDown animate__faster">
                <p class="control">
                  <a class="button is-static">
                    https://
                  </a>
                </p>
                <div class="control">
                  <input class="input" type="text" id="url" placeholder="example.com">
                </div>
                <div class="control">
                  <button class="button" onclick="checkSiteStatus()">Check</button>
                </div>
              </div>
            <div class="server animate__animated animate__pulse animate__slow">
              <?xml version="1.0" encoding="UTF-8" standalone="no"?>
              <svg
                 xmlns:dc="http://purl.org/dc/elements/1.1/"
                 xmlns:cc="http://creativecommons.org/ns#"
                 xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                 xmlns:svg="http://www.w3.org/2000/svg"
                 xmlns="http://www.w3.org/2000/svg"
                 xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                 xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
                 width="300"
                 height="400"
                 viewBox="0 0 300 400"
                 fill="none"
                 version="1.1"
                 id="svg859"
                 sodipodi:docname="server.svg"
                 inkscape:version="1.0.1 (c497b03c, 2020-09-10)">
                <metadata
                   id="metadata865">
                  <rdf:RDF>
                    <cc:Work
                       rdf:about="">
                      <dc:format>image/svg+xml</dc:format>
                      <dc:type
                         rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                      <dc:title></dc:title>
                    </cc:Work>
                  </rdf:RDF>
                </metadata>
                <defs
                   id="defs863" />
                <sodipodi:namedview
                   pagecolor="#ffffff"
                   bordercolor="#666666"
                   borderopacity="1"
                   objecttolerance="10"
                   gridtolerance="10"
                   guidetolerance="10"
                   inkscape:pageopacity="0"
                   inkscape:pageshadow="2"
                   inkscape:window-width="1440"
                   inkscape:window-height="855"
                   id="namedview861"
                   showgrid="false"
                   inkscape:zoom="0.8018018"
                   inkscape:cx="444"
                   inkscape:cy="355.5"
                   inkscape:window-x="0"
                   inkscape:window-y="23"
                   inkscape:window-maximized="1"
                   inkscape:current-layer="svg859" />
                <g
                   id="undraw_server_cluster_jwwq 1"
                   transform="translate(-295.58425,-311.79776)">
                  <path
                     id="Vector"
                     d="m 541.5,643.807 v -262 h -195 v 262 z"
                     fill="#2f2e41" />
                  <path
                     id="Vector_2"
                     d="M 575,373.807 H 313 v 104 h 262 z"
                     fill="#3f3d56" />
                  <path
                     id="Vector_3"
                     d="M 575,489.807 H 313 v 104 h 262 z"
                     fill="#3f3d56" />
                  <path
                     id="Vector_4"
                     d="M 575,605.807 H 313 v 104 h 262 z"
                     fill="#3f3d56" />
                  <path
                     id="Vector_5"
                     d="M 575,417.904 H 313 v 16 h 262 z"
                     fill="#6c63ff" />
                  <path
                     id="Vector_6"
                     d="M 575,533.904 H 313 v 16 h 262 z"
                     fill="#6c63ff" />
                  <path
                     id="Vector_7"
                     d="M 575,649.904 H 313 v 16 h 262 z"
                     fill="#6c63ff" />
                  <path
                     class="lights"
                     d="m 566,394.807 c 3.314,0 6,-2.686 6,-6 0,-3.313 -2.686,-6 -6,-6 -3.314,0 -6,2.687 -6,6 0,3.314 2.686,6 6,6 z"
                     fill="#6c63ff"
                     id="path840" />
                  <path
                     class="lights"
                     d="m 566,508.807 c 3.314,0 6,-2.686 6,-6 0,-3.313 -2.686,-6 -6,-6 -3.314,0 -6,2.687 -6,6 0,3.314 2.686,6 6,6 z"
                     fill="#6c63ff"
                     id="path842" />
                  <path
                     class="lights"
                     d="m 566,622.807 c 3.314,0 6,-2.686 6,-6 0,-3.313 -2.686,-6 -6,-6 -3.314,0 -6,2.687 -6,6 0,3.314 2.686,6 6,6 z"
                     fill="#6c63ff"
                     id="path844" />
                  <path
                     class="lights"
                     d="m 524,394.807 c 3.314,0 6,-2.686 6,-6 0,-3.313 -2.686,-6 -6,-6 -3.314,0 -6,2.687 -6,6 0,3.314 2.686,6 6,6 z"
                     fill="#6c63ff"
                     id="path846" />
                  <path
                     class="lights"
                     d="m 524,508.807 c 3.314,0 6,-2.686 6,-6 0,-3.313 -2.686,-6 -6,-6 -3.314,0 -6,2.687 -6,6 0,3.314 2.686,6 6,6 z"
                     fill="#6c63ff"
                     id="path848" />
                  <path
                     class="lights"
                     d="m 524,622.807 c 3.314,0 6,-2.686 6,-6 0,-3.313 -2.686,-6 -6,-6 -3.314,0 -6,2.687 -6,6 0,3.314 2.686,6 6,6 z"
                     fill="#6c63ff"
                     id="path850" />
                  <path
                     class="lights"
                     d="m 545,394.807 c 3.314,0 6,-2.686 6,-6 0,-3.313 -2.686,-6 -6,-6 -3.314,0 -6,2.687 -6,6 0,3.314 2.686,6 6,6 z"
                     fill="#6c63ff"
                     id="path852" />
                  <path
                     class="lights"
                     d="m 545,508.807 c 3.314,0 6,-2.686 6,-6 0,-3.313 -2.686,-6 -6,-6 -3.314,0 -6,2.687 -6,6 0,3.314 2.686,6 6,6 z"
                     fill="#6c63ff"
                     id="path854" />
                  <path
                     class="lights"
                     d="m 545,622.807 c 3.314,0 6,-2.686 6,-6 0,-3.313 -2.686,-6 -6,-6 -3.314,0 -6,2.687 -6,6 0,3.314 2.686,6 6,6 z"
                     fill="#6c63ff"
                     id="path856" />
                </g>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
